.parallax {
    /* The image used */
    background-image: url('../img/servicios/iluminacion6.jpg');

    /* Full height */
    height: 100%; 
    /*height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,45,113,.7);
}

