* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a
{
    color:#FE8625;
}

body {
    font-size:16px;
}
.w3-half img {
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer
}
.w3-half img:hover {
    opacity:1
}
.w3-red,.w3-hover-red:hover {
    color:#FE8625!important;
    background-color:#002D71!important
}
.w3-button:hover
{
    color:#002D71!important;
    background-color:#FE8625!important
}
section {
    margin-left:340px;
    margin-right:40px;
}
.w3-text-red,.w3-hover-text-red:hover {
    color:#002D71!important
}
.w3-round {
    width:50px;
    border:5px solid #FE8625;
}
#modal01 {
    padding-top:0;
}
#servicios {
    margin-top:75px;
}
.img-hover {
    opacity:0.8;
}
.img-hover:hover{
    opacity: 1;
}
footer 
{
    color:#FE8625!important;
    background-color:#002D71!important;
}
#mySidebar {
    z-index:3;
    width:300px;
    font-weight:bold;
}
#top {
    margin-top:80px;
}
#services {
    margin-top:75px;
}